body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
}

#root1 {
  width: 800px;
}

#root {
  width: 100%;
  height: 324vh;
  padding: 40px;
  overflow-x: hidden;
  display: flex;
}

.App {
  width: 87.2%;
  margin-left: auto;
  overflow-x: hidden;
  margin-right: auto;
  display: flex;
  background-image: url(./imgs/tabs.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.Board {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.Row {
  height: 6.66666666667%;
  width: 100%;
  display: flex;
}

.Col {
  height: 100%;
  width: 20%;
  cursor: pointer;
}

.Col:hover {
  background-color: white;
  opacity: 0.1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal.open {
  display: block;
}

.modal-content {
  margin: auto;
  display: block;
  height: 80%;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.Signature {
  position: fixed;
  right: 15px;
  text-align: right;
}